aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alibabacloud-credentials==1.0.2
alibabacloud-credentials-api==1.0.0
alibabacloud-dingtalk==2.2.25
alibabacloud-tea==0.4.3
alibabacloud_endpoint_util==0.0.4
alibabacloud_gateway_dingtalk==1.0.2
alibabacloud_gateway_spi==0.0.3
alibabacloud_openapi_util==0.2.2
alibabacloud_tea_openapi==0.4.0
alibabacloud_tea_util==0.3.13
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.11.0
argcomplete==3.6.2
async-timeout==5.0.1
attrs==25.3.0
Authlib==1.6.0
beautifulsoup4==4.13.4
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
chonkie==1.1.1
click==8.2.1
cobble==0.1.4
coloredlogs==15.0.1
contourpy==1.3.2
crcmod==1.7
cryptography==44.0.3
cycler==0.12.1
cyclopts==3.22.2
darabonba-core==1.0.2
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.16
docutils==0.21.2
email_validator==2.2.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
fastapi==0.115.14
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.4
fastmcp==2.10.5
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.7.0
greenlet==3.2.3
grpcio==1.74.0
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.33.4
humanfriendly==10.0
identify==2.6.12
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
jmespath==0.10.0
joblib==1.5.1
jsonschema==4.24.1
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
lxml==6.0.0
magika==0.6.2
mammoth==1.9.1
markdown-it-py==3.0.0
markdownify==1.1.0
markitdown==0.1.2
MarkupSafe==3.0.2
matplotlib==3.10.3
mcp==1.12.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.6.3
neo4j==5.28.1
networkx==3.4.2
nodeenv==1.9.1
numpy==2.2.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
ollama==0.4.9
onnxruntime==1.22.1
openai==1.97.0
openapi-pydantic==0.5.1
openpyxl==3.1.5
orjson==3.11.0
oss2==2.19.1
packaging==25.0
pandas==2.3.1
pdfminer.six==20250506
pika==1.3.2
pillow==11.3.0
pipx==1.7.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
propcache==0.3.2
protobuf==6.31.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
PyMySQL==1.1.1
pyparsing==3.2.3
pyperclip==1.9.0
pytest==8.4.1
pytest-asyncio==0.23.8
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
rich-rst==1.3.1
rich-toolkit==0.14.8
rignore==0.6.2
rpds-py==0.26.0
ruff==0.11.13
safetensors==0.5.3
schedule==1.2.2
scikit-learn==1.7.0
scipy==1.15.3
sentry-sdk==2.33.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sse-starlette==2.4.1
starlette==0.46.2
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tokenizers==0.21.2
tomli==2.2.1
torch==2.7.1
tqdm==4.67.1
transformers==4.53.2
triton==3.3.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.5.0
userpath==1.9.2
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.31.2
watchfiles==1.1.0
websockets==15.0.1
xlrd==2.0.2
xlsxwriter==3.2.5
yarl==1.20.1
